<div class="wrapper" layout="column" ng-cloak>
    <div class="wrapper-content" flex>
        <side-navbar></side-navbar>
        <md-content class="content" flex layout-padding >
            <!-- shows when sideBar is opened -->
            <div class="flex-wrapper" layout="row" ng-hide="$ctrl.opened()===false">
                <div class="flex-space-1" flex-gt-sm="20" flex="5"></div>
                <div class="flex-space-2" flex layout="row" layout-xs="column">
                    <!-- information -->
                    <div layout="column" flex>
                        <md-card md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Ausgangssituation</span>
                                    <span class="md-subhead">
                                        Im Laufe des Schuljahres 2018/19 sind LehrerInnen auf uns zugegangen und haben gefragt,
                                        ob Interesse an einer Diplomarbeit besteht. Die Diplomarbeit thematisiert, wie es sich
                                        bei einem Brandfall zu verhalten gilt und welche wichtigen Schritte beachtet werden müssen.
                                        Die zugrundeliegende Problematik besteht darin, dass zurzeit noch kein Video existiert,
                                        welches über die Verhaltensregeln für den Brandfall an der HTL3 Rennweg aufklärt.
                                    </span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                        <md-card md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Haupt-Ziele</span>
                                    <span class="md-subhead">
                                    <ol start="1">
                                        <li>Full-HD Video</li>
                                        <li>Schüler-Video</li>
                                        <li>Bedienung Feuerlöscher</li>
                                        <li>Notausgänge aufzeigen</li>
                                        <li>Fenster schließen</li>
                                        <li>Richtiger Fluchtweg</li>
                                        <li>Schnitttechnik</li>
                                        <li>Schriftarten im Video</li>
                                        <li>Farbkorrekturen</li>
                                        <li>Methode zur Projektplanung</li>
                                        <li>Interaktion</li>
                                        <li>Voice-Over</li>
                                        <li>Videoformat</li>
                                        <li>Informationen einholen</li>
                                        <li>Rechte</li>
                                        <li>Videoplanung</li>
                                        <li>Entdecken des Feuers</li>
                                        <li>Lehrer-Video</li>
                                        <li>Feuer in der Klasse</li>
                                        <li>Flüchten</li>
                                        <li>Feueralarm in der Pause/Freistunde</li>
                                        <li>Keine Aufzüge</li>
                                        <li>Entwarnung</li>
                                        <li>Website erstellen</li>
                                        <li>Logo erstellen</li>
                                        <li>Didaktik</li>
                                        <li>Interaktions-Konzept</li>
                                        <li>Rohmaterial</li>
                                        <li>Material-Ergänzung</li>
                                        <li>Mikrofon</li>
                                        <li>Rauschfreie Audio</li>
                                        <li>Audio-Mixing</li>
                                        <li>Normalisierung</li>
                                    </ol>
                                </span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                    </div>
                    <div layout="column">
                        <md-card md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Projekidee</span>
                                    <span class="md-subhead">
                                        In dieser Diplomarbeit soll ein Video entstehen, welches zukünftigen Schülern und <br>
                                        Schülerinnen das richtige Verhalten im Falle eines Brandes vermittelt. <br>
                                        Konkret werden folgende Punkte im Video thematisiert: <br>
                                        <ul>
                                            <li>Was ist zu tun, wenn ein Feueralarm gehört wird?</li>
                                            <li>Auf was wird geachtet, bevor das Klassenzimmer verlassen wird?</li>
                                            <li>Was ist zu tun, wenn kein Lehrer anwesend sein sollte?</li>
                                            <li>Was ist zu tun, wenn man selbst Feuer sieht?</li>
                                            <li>Was ist zu tun, wenn das Feuer in der Klasse ist?</li>
                                            <li>Wo sind die Notausgänge?</li>
                                            <li>Welcher Ausgang sollte genommen werden?</li>
                                            <li>Wo ist der Sammelpunkt?</li>
                                            <li>Wie wird ein Feuerlöscher bedient?</li>
                                        </ul>
                                        Die aufgezählten Punkte sind notwendig, um einen reibungslosen und möglichst <br>
                                        ruhigen Ablauf sicherzustellen. Durch einen sicheren Ablauf wird eine Massenpanik <br>
                                        verhindert und damit werden möglichst wenige Personen verletzt.
                                    </span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                        <md-card md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Optionale Ziele</span>
                                    <span class="md-subhead">
                                    <ol start="1">
                                        <li>Marketing</li>
                                        <li>Brandschutzvorbeugung</li>
                                        <li>Eingeschränkte Personen</li>
                                        <li>Visuelle Effekte</li>
                                        <li>Audio-Format</li>
                                    </ol>
                                </span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                        <md-card md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Nicht-Ziele</span>
                                    <span class="md-subhead">
                                    <ol start="1">
                                        <li>Gagen</li>
                                        <li>Auslösen des Feueralarms</li>
                                        <li>Eingeschränkte Personen</li>
                                        <li>Visuelle Effekte</li>
                                        <li>Audio-Format</li>
                                    </ol>
                                </span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                    </div>
                </div>
                <div class="flex-space-3" flex-gt-sm="10" flex="5"></div>
            </div>
            <!-- shows when sideBar is closed -->
            <div class="flex-wrapper" layout="row" ng-hide="$ctrl.opened()=== true || $ctrl.opened() === undefined">
                <div class="flex-space-1" flex-gt-sm="15"></div>
                <div class="flex-space-2" flex layout="row" layout-xs="column">
                    <!-- information -->
                    <div layout="column" flex>
                        <md-card md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Ausgangssituation</span>
                                    <span class="md-subhead">
                                        Im Laufe des Schuljahres 2018/19 sind LehrerInnen auf uns zugegangen und haben gefragt,
                                        ob Interesse an einer Diplomarbeit besteht. Die Diplomarbeit thematisiert, wie es sich
                                        bei einem Brandfall zu verhalten gilt und welche wichtigen Schritte beachtet werden müssen.
                                        Die zugrundeliegende Problematik besteht darin, dass zurzeit noch kein Video existiert,
                                        welches über die Verhaltensregeln für den Brandfall an der HTL3 Rennweg aufklärt.
                                    </span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                        <md-card md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Haupt-Ziele</span>
                                    <span class="md-subhead">
                                    <ol start="1">
                                        <li>Full-HD Video</li>
                                        <li>Schüler-Video</li>
                                        <li>Bedienung Feuerlöscher</li>
                                        <li>Notausgänge aufzeigen</li>
                                        <li>Fenster schließen</li>
                                        <li>Richtiger Fluchtweg</li>
                                        <li>Schnitttechnik</li>
                                        <li>Schriftarten im Video</li>
                                        <li>Farbkorrekturen</li>
                                        <li>Methode zur Projektplanung</li>
                                        <li>Interaktion</li>
                                        <li>Voice-Over</li>
                                        <li>Videoformat</li>
                                        <li>Informationen einholen</li>
                                        <li>Rechte</li>
                                        <li>Videoplanung</li>
                                        <li>Entdecken des Feuers</li>
                                        <li>Lehrer-Video</li>
                                        <li>Feuer in der Klasse</li>
                                        <li>Flüchten</li>
                                        <li>Feueralarm in der Pause/Freistunde</li>
                                        <li>Keine Aufzüge</li>
                                        <li>Entwarnung</li>
                                        <li>Website erstellen</li>
                                        <li>Logo erstellen</li>
                                        <li>Didaktik</li>
                                        <li>Interaktions-Konzept</li>
                                        <li>Rohmaterial</li>
                                        <li>Material-Ergänzung</li>
                                        <li>Mikrofon</li>
                                        <li>Rauschfreie Audio</li>
                                        <li>Audio-Mixing</li>
                                        <li>Normalisierung</li>
                                    </ol>
                                </span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                    </div>
                    <div layout="column" flex>
                        <md-card md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Projekidee</span>
                                    <span class="md-subhead">
                                        In dieser Diplomarbeit soll ein Video entstehen, welches zukünftigen Schülern und <br>
                                        Schülerinnen das richtige Verhalten im Falle eines Brandes vermittelt. <br>
                                        Konkret werden folgende Punkte im Video thematisiert: <br>
                                        <ul>
                                            <li>Was ist zu tun, wenn ein Feueralarm gehört wird?</li>
                                            <li>Auf was wird geachtet, bevor das Klassenzimmer verlassen wird?</li>
                                            <li>Was ist zu tun, wenn kein Lehrer anwesend sein sollte?</li>
                                            <li>Was ist zu tun, wenn man selbst Feuer sieht?</li>
                                            <li>Was ist zu tun, wenn das Feuer in der Klasse ist?</li>
                                            <li>Wo sind die Notausgänge?</li>
                                            <li>Welcher Ausgang sollte genommen werden?</li>
                                            <li>Wo ist der Sammelpunkt?</li>
                                            <li>Wie wird ein Feuerlöscher bedient?</li>
                                        </ul>
                                        Die aufgezählten Punkte sind notwendig, um einen reibungslosen und möglichst <br>
                                        ruhigen Ablauf sicherzustellen. Durch einen sicheren Ablauf wird eine Massenpanik <br>
                                        verhindert und damit werden möglichst wenige Personen verletzt.
                                    </span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                        <md-card md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Optionale Ziele</span>
                                    <span class="md-subhead">
                                    <ol start="1">
                                        <li>Marketing</li>
                                        <li>Brandschutzvorbeugung</li>
                                        <li>Eingeschränkte Personen</li>
                                        <li>Visuelle Effekte</li>
                                        <li>Audio-Format</li>
                                    </ol>
                                </span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                        <md-card md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Nicht-Ziele</span>
                                    <span class="md-subhead">
                                    <ol start="1">
                                        <li>Gagen</li>
                                        <li>Auslösen des Feueralarms</li>
                                    </ol>
                                </span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                    </div>
                </div>
                <div class="flex-space-3" flex-gt-sm="15"></div>
            </div>
        </md-content>
    </div>
</div>
